.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
  }
  
  .loader::before,
  .loader::after {
    content: "";
    border: 1em solid;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: loader 2s linear infinite;
            animation: loader 2s linear infinite;
    opacity: 0;
  }
  
  .loader::before {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  
  @-webkit-keyframes loader {
    0% {
      transform: scale(0);
      opacity: 0;
      border-color: rgb(2, 113, 2);
    }
    50% {
      opacity: 1;
      border-color: rgb(69, 176, 69);
    }
    100% {
      transform: scale(1);
      opacity: 0;
      border-color:  rgb(8, 72, 8);
    }
  }
  
  @keyframes loader {
    0% {
      transform: scale(0);
      opacity: 0;
      border-color:  rgb(61, 159, 61);
    }
    50% {
      opacity: 1;
      border-color: rgb(8, 103, 8);
    }
    100% {
      transform: scale(1);
      opacity: 0;
      border-color:rgb(28, 216, 28);
    }
  }